body{
    font-family: Roboto !important;
}

/* .item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  } */

.mybtn{
    background-color: #0d0 !important;
    font-size: .9rem !important;
    font-weight: bold !important;
}

#text-1{
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}
#text-1 span{
    font-weight: 700;
}
#text-2{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}
#text-3{
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
}
/* Section 2 */
#s2 h1{
    color: #18ea19;
    line-height: 1.17;
    font-size:calc((3.5 - 1) * 1.2vw + 1rem);
}
#s2 p{
    font-weight: 700;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    line-height: 1.4;
}
/* Section 3 */
#s3{
    padding: calc(45vmax / 10) 7vw;
}
.right-span{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

.right-p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}
.right-a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #0d0 !important;
    border-bottom: 1px solid #0d0;
}
/* Section 4 */
#s4{
    background-color: #0d0;
    padding: 3.3vmax 6vw;
}
#s4 span{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}
#s4 img{
    width: 27vw;
    height: 32vw;
}
/* Section 5 */
#s5{
    padding: calc(45vmax / 10) 7vw;
}
/* Section 6 */
#s6{
    padding: calc(20vmax / 10) 6vw; 
}
#s6 div{
    font-size: calc((2 - 1) * 1.2vw + 1rem);

}
#s6 p{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}
/* Section 7 */
#s7{
    padding: calc(10vmax / 10) 7vw;
}
#s7 img{
    width: 56vw;
    height: 23vw;
}
/* Section 8 */
#s8{
    padding: 3.3vmax 7vw;
    background-color: #e6e6e6;
}
.title-p{
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 700;
}
#s8 img{
    width: 95%;
}
/* Section 9 */
#s9{
    padding: 3.3vmax 6vw;
}
/* Section 10 */
#s10{
    padding:3.3vmax 7vw;
    padding-bottom: 5vw;
    background-color: #e6e6e6;
}
#s10 p{
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
}
#s10 a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    background-color: black;
}
/* Section 11 */
#s11{
    padding: 3.3vmax 7vw;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    background-color: black;
}
#s11 a{
    color: #0d0;
    border-bottom: 1px solid #0d0;
}
#s11 i{
    padding-left: 20px;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}